{% extends 'base.html' %}

{% block title %}
<title>当前页面不存在！</title>
{% endblock %}

{% block main %}
	<main id="main">
			<section class="hero-sec bg-full" style="background-image:url(../static/images/img33.jpg);">
				<div class="caption">
					<h1 class="heading text-center">404 Page</h1>
				</div>
			</section>
			<section class="error-sec container text-center">
				<div class="row">
					<div class="col-xs-12">
						<strong class="title">Sorry, Page not found</strong>
						<h1>404</h1>
						<p>The page you’re looking does not exist</p>
						<a href="index.html" class="btn-primary text-center text-uppercase lg-round">homepage</a>
					</div>
				</div>
			</section>
			<section class="callout" style="background-image:url(../static/images/img26.jpg);">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-6">
							<h2>Get 50% offer for all pet products</h2>
						</div>
						<div class="col-xs-12 col-sm-6">
							<a class="btn-primary text-uppercase text-center lg-round" href="#">coupon code : PETTY1234</a>
						</div>
					</div>
				</div>
			</section>
		</main>
{% endblock %}


