{% extends 'base.html' %}
{% block title %}
	<title>关于我们</title>
{% endblock %}
{% block main %}
	<main id="main">
			<section class="hero-sec bg-full" style="background-image:url(../static/images/img33.jpg);">
				<div class="caption">
					<h1 class="heading text-center">About us</h1>
				</div>
			</section>
			<section class="abt-sec container">
				<div class="row">
					<div class="col-xs-12 col-sm-7">
						<header class="header text-center">
							<h2 class="heading text-uppercase">welcome to petty</h2>
							<span class="icon"><i class="icon-bone"></i></span>
							<p class="text-center">It is a long established fact that a reader will be distracted by the readable<br class="hidden-xs"> content of a page when looking at its layout the point of using Lorem Ipsum is that it<br class="hidden-xs">  has a more-or-less normal distribution of letters as opposed to using content here <br class="hidden-xs"> its making it look like readable.</p>
						</header>
						<ul class="list-unstyled icon-list text-center">
							<li><span class="icon round"><i class="icon-money"></i></span><h3 class="heading2">Lowest Price</h3></li>
							<li><span class="icon round"><i class="icon-atom"></i></span><h3 class="heading2">Healthy Pets</h3></li>
							<li><span class="icon round"><i class="icon-smile"></i></span><h3 class="heading2">Happy People</h3></li>
						</ul>
					</div>
					<div class="col-xs-12 col-sm-5">
						<div class="img-holder"><img src="../static/images/img02.jpg" alt="pet-image" class="img-responsive"></div>
					</div>
				</div>
			</section>
			<section class="testimonail-sec bg-full" style="background-image:url(../static/images/img22.jpg);">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<div class="testimonail-slider">
								<blockquote class="slide text-center">
									<span class="icon"><i class="icon-comment"></i></span>
									<q>It is a long established fact that a reader will be distracted by the readable content of <br class="hidden-xs"> when looking at its layout the point of using Lorem Ipsum is that it has a more-or-less normal<br class="hidden-xs"> opposed to using content here its making it look like readable.</q>
									<cite class="name">- Christiana Doe -</cite>
								</blockquote>
<!--								<blockquote class="slide text-center">-->
<!--									<span class="icon"><i class="icon-comment"></i></span>-->
<!--									<q>It is a long established fact that a reader will be distracted by the readable content of <br class="hidden-xs"> when looking at its layout the point of using Lorem Ipsum is that it has a more-or-less normal<br class="hidden-xs"> opposed to using content here its making it look like readable.</q>-->
<!--									<cite class="name">- Christiana Doe -</cite>-->
<!--								</blockquote>-->
<!--								<blockquote class="slide text-center">-->
<!--									<span class="icon"><i class="icon-comment"></i></span>-->
<!--									<q>It is a long established fact that a reader will be distracted by the readable content of <br class="hidden-xs"> when looking at its layout the point of using Lorem Ipsum is that it has a more-or-less normal<br class="hidden-xs"> opposed to using content here its making it look like readable.</q>-->
<!--									<cite class="name">- Christiana Doe -</cite>-->
<!--								</blockquote>-->
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="team-sec container">
				<div class="row">
					<header class="col-xs-12 header text-center">
						<h1 class="heading text-uppercase">our team</h1>
						<span class="icon"><i class="icon-bone"></i></span>
					</header>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-4">
						<div class="team-holder text-center">
							<div class="img-holder">
								<img class="img-responsive" src="../static/images/img34.jpg" alt="image">
								<ul class="list-unstyled socail-network">
									<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
								</ul>
							</div>
							<h4>Jessie Bell</h4>
							<span class="designation">Care Taker</span>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4">
						<div class="team-holder text-center">
							<div class="img-holder">
								<img class="img-responsive" src="../static/images/img35.jpg" alt="image">
								<ul class="list-unstyled socail-network">
									<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
								</ul>
							</div>
							<h4>Mark Antony</h4>
							<span class="designation">Dog Trainer</span>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4">
						<div class="team-holder text-center">
							<div class="img-holder">
								<img class="img-responsive" src="../static/images/img36.jpg" alt="image">
								<ul class="list-unstyled socail-network">
									<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
								</ul>
							</div>
							<h4>Angelina</h4>
							<span class="designation">Pet Adopter</span>
						</div>
					</div>
				</div>
			</section>
			<section class="callout" style="background-image:url(../static/images/img26.jpg);">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-6">
							<h2>Get 50% offer for all pet products</h2>
						</div>
						<div class="col-xs-12 col-sm-6">
							<a class="btn-primary text-uppercase text-center lg-round" href="#">coupon code : PETTY1234</a>
						</div>
					</div>
				</div>
			</section>
		</main>
{% endblock %}
