{% extends 'base.html' %}
{% block title %}
	<title>宠物图集</title>
{% endblock %}
{% block main %}
	<main id="main">
			<section class="hero-sec bg-full" style="background-image:url(../static/images/img33.jpg);">
				<div class="caption">
					<h1 class="heading text-center">Gallery</h1>
				</div>
			</section>
			<section class="gallery-sec container style1">
				<div class="row">
					<div class="col-xs-12">
						<div class="image-holder overlay">
							<img src="../static/images/img17.jpg" alt="image" class="img-responsive">
							<a href="#" class="icon lg-round text-center"><i class="fa fa-search" aria-hidden="true"></i></a>
						</div>
						<div class="image-holder overlay">
							<img src="../static/images/img18.jpg" alt="image" class="img-responsive">
							<a href="#" class="icon lg-round text-center"><i class="fa fa-search" aria-hidden="true"></i></a>
						</div>
						<div class="image-holder overlay">
							<img src="../static/images/img19.jpg" alt="image" class="img-responsive">
							<a href="#" class="icon lg-round text-center"><i class="fa fa-search" aria-hidden="true"></i></a>
						</div>
						<div class="image-holder overlay">
							<img src="../static/images/img20.jpg" alt="image" class="img-responsive">
							<a href="#" class="icon lg-round text-center"><i class="fa fa-search" aria-hidden="true"></i></a>
						</div>
						<div class="image-holder overlay">
							<img src="../static/images/img21.jpg" alt="image" class="img-responsive">
							<a href="#" class="icon lg-round text-center"><i class="fa fa-search" aria-hidden="true"></i></a>
						</div>
						<div class="image-holder overlay mar">
							<img src="../static/images/img37.jpg" alt="image" class="img-responsive">
							<a href="#" class="icon lg-round text-center"><i class="fa fa-search" aria-hidden="true"></i></a>
						</div>
						<div class="image-holder overlay img-col">
							<img src="../static/images/img38.jpg" alt="image" class="img-responsive">
							<a href="#" class="icon lg-round text-center"><i class="fa fa-search" aria-hidden="true"></i></a>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						 <ul class="pagination list-unstyled text-center">
						 	<li><a href="#"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>
							<li><a href="#">1</a></li>
							<li><a class="active" href="#">2</a></li>
							<li><a href="#">3</a></li>
						</ul>
					</div>
				</div>
			</section>
			<section class="callout" style="background-image:url(../static/images/img26.jpg);">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-6">
							<h2>Get 50% offer for all pet products</h2>
						</div>
						<div class="col-xs-12 col-sm-6">
							<a class="btn-primary text-uppercase text-center lg-round" href="#">coupon code : PETTY1234</a>
						</div>
					</div>
				</div>
			</section>
		</main>
{% endblock %}

