{% extends 'base.html' %}
{% block title %}
	<title>服务</title>
{% endblock %}
{% block main %}
	<main id="main">
			<section class="hero-sec bg-full" style="background-image:url(../static/images/img33.jpg);">
				<div class="caption">
					<h1 class="heading text-center">Services</h1>
				</div>
			</section>
			<section class="feature-sec container style2">
				<div class="row">
					<header class="col-xs-12 header text-center">
						<h2 class="heading text-uppercase">why choose us</h2>
						<span class="icon"><i class="icon-bone"></i></span>
					</header>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-4">
						<div class="feature-col">
							<span class="icon round"><i class="icon-bookmark"></i></span>
							<h3 class="heading2">Quality &amp; Caring</h3>
							<p>It is a long established fact that a reader <br class="hidden-xs"> distracted by the readable content</p>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4">
						<div class="feature-col">
							<span class="icon round"><i class="icon-shield"></i></span>
							<h3 class="heading2">Insured &amp; Checked</h3>
							<p>It is a long established fact that a reader <br class="hidden-xs"> distracted by the readable content </p>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4">
						<div class="feature-col">
							<span class="icon round"><i class="icon-home"></i></span>
							<h3 class="heading2">Free Home Consulting</h3>
							<p>It is a long established fact that a reader <br class="hidden-xs"> distracted by the readable content </p>
						</div>
					</div>
				</div>
			</section>
			<section class="services-sec bg-full" style="background-image:url(../static/images/img03.jpg);">
				<div class="container">
					<div class="row">
						<header class="col-xs-12 header text-center">
							<h2 class="heading text-uppercase">what we do</h2>
							<span class="icon"><i class="icon-bone"></i></span>
						</header>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-6">
							<div class="services-holder">
								<div class="img-holder"><img src="../static/images/img04.jpg" alt="Pet Adoption" class="img-responsive"></div>
								<div class="txt-holder">
									<h3 class="heading2">Pet Adoption</h3>
									<p>It is a long established fact that a reader looking at its layout the point</p>
									<a class="read-more text-uppercase" href="javascript:void(0);">read more <i class="icon-next"></i></a>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6">
							<div class="services-holder">
								<div class="img-holder"><img src="../static/images/img05.jpg" alt="Pet Grooming" class="img-responsive"></div>
								<div class="txt-holder">
									<h3 class="heading2">Pet Grooming</h3>
									<p>It is a long established fact that a reader looking at its layout the point</p>
									<a class="read-more text-uppercase" href="javascript:void(0);">read more <i class="icon-next"></i></a>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6">
							<div class="services-holder">
								<div class="img-holder"><img src="../static/images/img06.jpg" alt="Pet Daycare" class="img-responsive"></div>
								<div class="txt-holder">
									<h3 class="heading2">Pet Daycare</h3>
									<p>It is a long established fact that a reader looking at its layout the point</p>
									<a class="read-more text-uppercase" href="javascript:void(0);">read more <i class="icon-next"></i></a>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6">
							<div class="services-holder">
								<div class="img-holder"><img src="../static/images/img07.jpg" alt="Dog Training" class="img-responsive"></div>
								<div class="txt-holder">
									<h3 class="heading2">Dog Training</h3>
									<p>It is a long established fact that a reader looking at its layout the point</p>
									<a class="read-more text-uppercase" href="javascript:void(0);">read more <i class="icon-next"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="appointment-sec container">
				<div class="row">
					<header class="col-xs-12 header text-center">
						<h2 class="heading text-uppercase">get appointment</h2>
						<span class="icon"><i class="icon-bone"></i></span>
					</header>
				</div>
				<div class="row">
					<div class="col-xs-12 col-md-10 col-md-offset-1">
						<form class="appointment-form text-center" action="#">
							<fieldset>
								<div class="form-group">
									<div class="col">
										<input class="form-control" placeholder="Name" type="text">
									</div>
									<div class="col">
										<input class="form-control" placeholder="Date" type="text">
										<span class="icon icon-calendar"></span>
									</div>
								</div>
								<div class="form-group">
									<div class="col">
										<input class="form-control" placeholder="Pet Type" type="text">
										<span class="icon fa fa-paw"></span>
									</div>
									<div class="col">
										<input class="form-control" placeholder="Email" type="email">
									</div>
								</div>
								<div class="form-group">
									<div class="col">
										<input class="form-control" placeholder="Time" type="text">
										<span class="icon icon-clock"></span>
									</div>
									<div class="col">
										<select class="form-control">
											<option value="0">Service we offered</option>
											<option value="1">Service we offered</option>
											<option value="2">Service we offered</option>
										</select>
									</div>
								</div>
								<button class="btn-primary text-center text-uppercase" type="submit">submit</button>
							</fieldset>
						</form>
					</div>
				</div>
			</section>
			<section class="callout" style="background-image:url(../static/images/img26.jpg);">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-6">
							<h2>Get 50% offer for all pet products</h2>
						</div>
						<div class="col-xs-12 col-sm-6">
							<a class="btn-primary text-uppercase text-center lg-round" href="#">coupon code : PETTY1234</a>
						</div>
					</div>
				</div>
			</section>
		</main>
{% endblock %}


