{% extends 'base.html' %}
{% block title %}
	<title>商品详细页面</title>
{% endblock %}
{% block main %}
	<main id="main">
			<section class="hero-sec bg-full" style="background-image:url(../static/images/img33.jpg);">
				<div class="caption">
					<h1 class="heading text-center">Shop</h1>
				</div>
			</section>
			<section class="shop-sec detail-page container">
				<div class="row">
					<div class="col-xs-12">
						<article id="content">
							<div class="holder">
								<div class="block">
									<div class="product-slider">
										<div class="slide">
											<img src="../static/images/img44.jpg" alt="image" class="img-responsive">
										</div>
									</div>
									<ul class="list-unstyled slick-slider pagg-slider">
							            <li><img src="../static/images/img45.jpg" alt="image description"></li>
							        	<li><img src="../static/images/img46.png" alt="image description"></li>
							        </ul>
							    </div>
								<div class="text-holder">
									<h3>Pawbits Joint</h3>
									<span class="price">$134.00</span>
									<p>There are many variations of passages of Lorem Ipsum as available, but the majority have suffered alteration in some form, by injected humour, or randomised words which buy don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
									<form class="select-form">
										<fieldset>
										    <input class="form-control" type="number" value="1" min="0" max="1000">
										</fieldset>
									</form>
									<a href="cart.html" class="btn-primary lg-round text-uppercase"><i class="icon-cart"></i> add to cart</a>
									<ul class="list-unstyled text-center share-list">
										<li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
										<li><a href="#"><i class="icon-refresh"></i></a></li>
									</ul>
								</div>
							</div>
							<ul class="list-unstyled tabset">
						        <li class="active"><a href="#tab1-0">Description</a></li>
						        <li><a href="#tab2-0">Reviews(03)</a></li>
						    </ul>
						    <div class="tab-content">
						        <div id="tab1-0">
						        	<p>Passages of Lorem Ipsum as available, but the majority have suffered alteration in some form, by injected humour, or randomised words which buy don't look even slightly believable. If you are going to use a passage of need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
						        	<ul class="list-unstyled">
						        		<li>Suitable for : Pets</li>
						        		<li>Color: Assorted colors, please see available color options</li>
						        		<li>Available Sizes: 5 in, 3.2 in</li>
						        	</ul>
						        </div>
						        <div id="tab2-0">
						        	<p>Passages of Lorem Ipsum as available, but the majority have suffered alteration in some form, by injected humour, or randomised words which buy don't look even slightly believable. If you are going to use a passage of need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
						        	<ul class="list-unstyled">
						        		<li>Suitable for : Pets</li>
						        		<li>Color: Assorted colors, please see available color options</li>
						        		<li>Available Sizes: 5 in, 3.2 in</li>
						        	</ul>
						        </div>
						    </div>
							<div class="related-products">
								<h3 class="text-center">Related Products</h3>
								<div class="product-box">
									<div class="product-col">
										<div class="img-holder">
											<img src="../static/images/img14.jpg" alt="food-img" class="img-responsive">
											<div class="over-holder">
												<ul class="list-unstyled text-center share-list">
													<li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
													<li><a href="#"><i class="icon-refresh"></i></a></li>
													<li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
												</ul>
											</div>
										</div>
										<div class="descrip">
											<h4 class="heading2">Pets Puriest</h4>
											<span class="price"><del class="discount-price">$62.00</del> $58.00</span>
										</div>
										<div class="text-center">
											<a href="cart.html" class="btn-primary lg-round text-uppercase"><i class="icon-cart"></i>add to cart</a>
										</div>
									</div>
									<div class="product-col">
										<div class="img-holder">
											<img src="../static/images/img15.jpg" alt="food-img" class="img-responsive">
											<div class="over-holder">
												<ul class="list-unstyled text-center share-list">
													<li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
													<li><a href="#"><i class="icon-refresh"></i></a></li>
													<li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
												</ul>
											</div>
										</div>
										<div class="descrip">
											<h4 class="heading2">Nutri-Pooch</h4>
											<span class="price"><del class="discount-price">$62.00</del> $58.00</span>
										</div>
										<div class="text-center">
											<a href="cart.html" class="btn-primary lg-round text-uppercase"><i class="icon-cart"></i>add to cart</a>
										</div>
									</div>
									<div class="product-col">
										<div class="img-holder">
											<img src="../static/images/img39.jpg" alt="food-img" class="img-responsive">
											<div class="over-holder">
												<ul class="list-unstyled text-center share-list">
													<li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
													<li><a href="#"><i class="icon-refresh"></i></a></li>
													<li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
												</ul>
											</div>
										</div>
										<div class="descrip">
											<h4 class="heading2">Lintbells YuMove</h4>
											<span class="price">$58.00</span>
										</div>
										<div class="text-center">
											<a href="cart.html" class="btn-primary lg-round text-uppercase"><i class="icon-cart"></i>add to cart</a>
										</div>
									</div>
								</div>
							</div>
						</article>
						<aside id="sidebar">
							<section class="widget">
								<h3>Filter</h3>
							</section>
							<section class="widget">
								<h3>Categories</h3>
								<ul class="list-unstyled category-list">
									<li><a href="#"><span class="icon fa fa-angle-right"></span>Dogs [30]</a></li>
									<li><a href="#"><span class="icon fa fa-angle-right"></span>Cats [46]</a></li>
									<li><a href="#"><span class="icon fa fa-angle-right"></span>Birds [58]</a></li>
									<li><a href="#"><span class="icon fa fa-angle-right"></span>Cages [20]</a></li>
									<li><a href="#"><span class="icon fa fa-angle-right"></span>Foods [62]</a></li>
								</ul>
							</section>
							<section class="widget">
								<h3>Featured Products</h3>
								<ul class="list-unstyled feature-list">
									<li>
										<div class="img-holder">
											<a href="shop-detail.html"><img class="img-responsive" src="../static/images/img40.jpg" alt="image"></a>
										</div>
										<div class="txt-holder">
											<ul class="list-unstyled rating-list">
												<li><a href="#" class="fa fa-star-o"></a></li>
												<li><a href="#" class="fa fa-star-o"></a></li>
												<li><a href="#" class="fa fa-star-o"></a></li>
												<li><a href="#" class="fa fa-star-o"></a></li>
												<li><a href="#" class="fa fa-star-o"></a></li>
											</ul>
											<h3><a href="shop-detail.html">Premier Pet+ for Dogs</a></h3>
											<span class="price">$30.00</span>
										</div>
									</li>
									<li>
										<div class="img-holder">
											<a href="shop-detail.html"><img class="img-responsive" src="../static/images/img41.jpg" alt="image"></a>
										</div>
										<div class="txt-holder">
											<ul class="list-unstyled rating-list">
												<li><a href="#" class="fa fa-star-o"></a></li>
												<li><a href="#" class="fa fa-star-o"></a></li>
												<li><a href="#" class="fa fa-star-o"></a></li>
												<li><a href="#" class="fa fa-star-o"></a></li>
												<li><a href="#" class="fa fa-star-o"></a></li>
											</ul>
											<h3><a href="shop-detail.html">Nutri-Pooch Vitamin+</a></h3>
											<span class="price">$30.00</span>
										</div>
									</li>
									<li>
										<div class="img-holder">
											<a href="shop-detail.html"><img class="img-responsive" src="../static/images/img42.jpg" alt="image"></a>
										</div>
										<div class="txt-holder">
											<ul class="list-unstyled rating-list">
												<li><a href="#" class="fa fa-star-o"></a></li>
												<li><a href="#" class="fa fa-star-o"></a></li>
												<li><a href="#" class="fa fa-star-o"></a></li>
												<li><a href="#" class="fa fa-star-o"></a></li>
												<li><a href="#" class="fa fa-star-o"></a></li>
											</ul>
											<h3><a href="shop-detail.html">Joint Support for Cats</a></h3>
											<span class="price">$30.00</span>
										</div>
									</li>
								</ul>
							</section>
							<section class="widget">
								<h3>Search Products</h3>
								<form class="search-form" action="#">
									<fieldset>
										<input class="form-control" placeholder="Search...." type="search">
										<button class="submit-btn" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
									</fieldset>
								</form>
							</section>
						</aside>
					</div>
				</div>
			</section>
			<section class="callout" style="background-image:url(../static/images/img26.jpg);">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-6">
							<h2>Get 50% offer for all pet products</h2>
						</div>
						<div class="col-xs-12 col-sm-6">
							<a class="btn-primary text-uppercase text-center lg-round" href="#">coupon code : PETTY1234</a>
						</div>
					</div>
				</div>
			</section>
		</main>
{% endblock %}

