{% extends 'base.html' %}
{% block title %}
	<title></title>
{% endblock %}
{% block main %}
	<main id="main">
			<section class="hero-sec bg-full" style="background-image:url(../static/images/img33.jpg);">
				<div class="caption">
					<h1 class="heading text-center">Blog Single</h1>
				</div>
			</section>
			<section class="blog-sec style2 container">
				<div class="row">
					<div class="col-xs-12">
						<article id="content">
							<div class="blog-col">
								<div class="img-holder">
									<a href="#"><img class="img-responsive" src="../static/images/img50.jpg" alt="image description"></a>
									<time class="text-uppercase date" datetime="03-18">18 mar</time>
								</div>
								<ul class="comment-list list-unstyled">
									<li><i class="fa fa-comment-o" aria-hidden="true"></i> 34 Comments / by  </li>
									<li><a href="#"> Admin</a> </li>
								</ul>
								<h4 class="heading">Mistaken idea of denouncing pleasure and praise pain</h4>
								<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
								<p>Majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
								<p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
								<p>Randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary.</p>
								<blockquote class="text-center">
									<q>There are many variations of passages of Lorem Ipsum available, but the majority have <br class="hidden-xs">suffered alteration in some form, by injected humour</q>
								</blockquote>
								<p>Majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p><br>
								<footer class="footer">
									<ul class="list-unstyled social-network">
										<li class="heading">Share</li>
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
									</ul>
									<ul class="list-unstyled tags-list">
										<li class="heading">Tags:</li>
										<li><a href="#">Grooming,</a></li>
										<li><a href="#">Helpcare,</a></li>
										<li><a href="#">Training</a></li>
									</ul>
								</footer>
							</div>
							<div class="holder">
								<h1 class="heading2">Related Posts </h1>
								<div class="row">
									<div class="col-sx-12 col-sm-6">
										<div class="blog-col blog text-center">
											<div class="img-holder overlay">
												<img src="../static/images/img61.jpg" alt="image" class="img-responsive">
												<a href="#" class="icon round"><i class="fa fa-search" aria-hidden="true"></i></a>
												<time class="text-uppercase date" datetime="2018-02-03 20:00">mar 18</time>
											</div>
											<ul class="comment-list list-unstyled">
												<li><i class="fa fa-comment-o" aria-hidden="true"></i> 34 Comments / </li>
												<li>by <a href="#"> Admin</a></li>
											</ul>
											<h4><a href="single-blog.html"> All this mistaken idea of denouncing pleasure and praise pain</a></h4>
										</div>
									</div>
									<div class="col-sx-12 col-sm-6">
										<div class="blog-col blog text-center">
											<div class="img-holder overlay">
												<img src="../static/images/img62.jpg" alt="image" class="img-responsive">
												<a href="#" class="icon round"><i class="fa fa-search" aria-hidden="true"></i></a>
												<time class="text-uppercase date" datetime="2018-02-03 20:00">nov 26</time>
											</div>
											<ul class="comment-list list-unstyled">
												<li><i class="fa fa-comment-o" aria-hidden="true"></i> 16 Comments /</li>
												<li>by <a href="#"> Admin</a></li>
											</ul>
											<h4><a href="single-blog.html"> But because occasionally circumstan occur in which toil and pain</a></h4>
										</div>
									</div>
								</div>
							</div>
							<div class="comments-block">
								<h4>Comments(02)</h4>
								<!-- comment area of the page -->
								<article class="commment-area">
									<a href="#" class="img"><img src="../static/images/img60.jpg" alt="image description" class="img-responsive"></a>
									<div class="txt-holder">
										<div class="header">
											<h3><a href="#">Peter Jose</a></h3>
											<a href="#" class="reply text-uppercase"><i class="fa fa-reply-all"></i> Reply</a>
										</div>
										<p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarsing hidden in the middle of text.</p>
									</div>
								</article>
								<!-- comment one level of the page -->
								<div class="commment-onelevel">
									<article class="commment-area">
										<a href="#" class="img"><img src="../static/images/img60.jpg" alt="image description" class="img-responsive"></a>
										<div class="txt-holder">
											<div class="header">
												<h3><a href="#">Adam Joe</a></h3>
												<a href="#" class="reply text-uppercase"><i class="fa fa-reply-all"></i> Reply</a>
											</div>
											<p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarsing hidden in the middle of text.</p>
										</div>
									</article>
								</div>
							</div>
							<div class="contact-sec">
								<h2>Post a Comment</h2>
								<form class="contact-form" action="#">
									<fieldset>
										<div class="form-group">
											<div class="col">
												<input class="form-control lg-round" placeholder="Name" type="text">
											</div>
											<div class="col">
												<input class="form-control lg-round" placeholder="Email" type="email">
											</div>
										</div>
										<textarea class="lg-round" placeholder="Comments"></textarea>
										<a class="btn-primary text-center text-uppercase lg-round" href="#">post comment</a>
									</fieldset>
								</form>
							</div>
						</article>
						<aside id="sidebar">
							<section class="widget">
								<form class="search-form" action="#">
									<fieldset>
										<input class="form-control" placeholder="Search...." type="search">
										<button class="submit-btn" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
									</fieldset>
								</form>
							</section>
							<section class="widget">
								<h3>Categories</h3>
								<ul class="list-unstyled category-list">
									<li><a href="#"><span class="icon fa fa-paw"></span> Pet Grooming</a></li>
									<li><a href="#"><span class="icon fa fa-paw"></span> Pet Daycare</a></li>
									<li><a href="#"><span class="icon fa fa-paw"></span> Pet Adoption</a></li>
									<li><a href="#"><span class="icon fa fa-paw"></span> Dog Training</a></li>
									<li><a href="#"><span class="icon fa fa-paw"></span> Pet Clinic</a></li>
								</ul>
							</section>
							<section class="widget">
								<h3>Latest Posts</h3>
								<ul class="list-unstyled feature-list feature2">
									<li>
										<div class="img-holder">
											<a href="single-blog.html"><img class="img-responsive" src="../static/images/img55.jpg" alt="image description"></a>
										</div>
										<div class="txt-holder">
											<h3><a href="single-blog.html">Many desktop publishing web page editors</a></h3>
											<time class="time" datetime="2018-02-03 20:00">2 months ago</time>
										</div>
									</li>
									<li>
										<div class="img-holder">
											<a href="single-blog.html"><img class="img-responsive" src="../static/images/img56.jpg" alt="image"></a>
										</div>
										<div class="txt-holder">
											<h3><a href="single-blog.html">Various versions have evols over the years</a></h3>
											<time class="time" datetime="2018-02-03 20:00">1 Day ago</time>
										</div>
									</li>
									<li>
										<div class="img-holder">
											<a href="single-blog.html"><img class="img-responsive" src="../static/images/img57.jpg" alt="image"></a>
										</div>
										<div class="txt-holder">
											<h3><a href="single-blog.html">Lorem Ipsum is therefore always free</a></h3>
											<time class="time" datetime="2018-02-03 20:00">5 mins ago</time>
										</div>
									</li>
								</ul>
							</section>
							<section class="widget">
								<h3>Archives</h3>
								<ul class="list-unstyled category-list">
									<li><a href="#"><span class="icon fa fa-paw"></span> January 2018</a></li>
									<li><a href="#"><span class="icon fa fa-paw"></span> February 2018</a></li>
									<li><a href="#"><span class="icon fa fa-paw"></span> March 2018</a></li>
									<li><a href="#"><span class="icon fa fa-paw"></span> April 2018</a></li>
								</ul>
							</section>
						</aside>
					</div>
				</div>
			</section>
			<section class="callout" style="background-image:url(../static/images/img26.jpg);">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-6">
							<h2>Get 50% offer for all pet products</h2>
						</div>
						<div class="col-xs-12 col-sm-6">
							<a class="btn-primary text-uppercase text-center lg-round" href="#">coupon code : PETTY1234</a>
						</div>
					</div>
				</div>
			</section>
		</main>
{% endblock %}

